@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

p {
    opacity: 0.8;
}

img {
    max-width: 100%;
}

.container {
    margin: auto;
    max-width: 100%;
    width: 1000px;
}

.flex {
    display: flex;
    margin: 100px 0;
}

.flex>div {
    flex: 1;
}

.flex>div:first-child {
    margin-right: 20px;
}

.flex>div:last-child {
    margin-left: 20px;
}

button {
    background-color: white;
    color: hsl(257, 40%, 49%);
    border: none;
    border-radius: 50px;
    font-size: 20px;
    padding: 20px 80px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 3);
}

.social-links {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.social-links a {
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 20px;
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
        margin: 50px 0;
    }

    .flex>div:first-child {
        flex: 1;
        margin-right: 0;
    }

    .flex>div:last-child {
        flex: 1;
        margin-left: 0;
        text-align: center;
    }

    .social-links {
        justify-content: center;
    }
}